@import "../includes/variables";

.test-qwe2 {color: red;}

.region-footer .block-menu {
  .menu {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        background: transparent;
        padding: 0 0 0 10px;
        line-height: 1.1em;
        text-decoration: none;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
      span {
        font-size: 9px;
        position: relative;
        top: 0px;
      }
    }
  }
}


// Item List Menus

.region-footer {
  .nav > li > a.is-active {
    background: transparent;
  }
  .views-title {
    margin-bottom: 25px;
    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 500;
    }
  }
  ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      line-height: 1.42857143;
      a,
      .parent_link,
      .nav-link {
        margin: 0;
        padding: 0 0 0 20px;
        background: transparent;
        text-decoration: none;
        position: relative;
        font-size: 14px;
      }
    }
  }
}
