@import "./dxpr_theme_subtheme.variables.scss";

.facility.full {
  .article-heading {
    .page-title {
      font-size: 32px;
      margin-bottom: 15px;
    }

    .page-subtitle {
      margin-top: 0 !important;
    }
  }
  .article-body-content-column {
    & > .field {
      margin-bottom: 60px;
    }

    .field__label {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 0.5em;
    }
  }

  .field--name-field-capacity,
  .field--name-field-pricing-rates {
    border-left: 2px solid $gray;
    padding-left: 30px;
    padding: 15px 0 15px 30px;
  }

  .field--name-field-capacity {
    .field__item {
      font-size: 3em;
      line-height: 1em;
    }

    .field__label {
      font-size: 1.5em;
      font-weight: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .field--name-field-description {
    &, p {
      font-size: 18px;
      line-height: 32px;
    }
  }

  .field--name-field-seating-chart-image,
  .field--name-field-location-map-image {
    border-left: 2px solid $gray;
    padding-bottom: 2em;
    padding: 15px 0 15px 30px;

    img {
      border-radius: 6px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

.facility.card-basic {
  h4 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .btn {
    margin-top: 5px;
  }
}