@import "./dxpr_theme_subtheme.variables.scss";

.event.full {
  .field--name-field-event-categories {
    margin-bottom: 60px;
  }

  .field--name-field-map-link {
    margin-top: -15px;
  }

  .field--name-field-date-smart {
    font-size: 22px;
    margin-top: 15px;
  }

  // .field--type-link {
  //   .btn {
  //     margin-top: 5px !important;
  //   }
  // }
}

.event.listing {
  .field--name-field-date-smart {
    font-size: 18px;
    font-weight: bold;
  }

  .field--name-field-location {
    .field__label {
      font-weight: normal;
      padding-right: 0;

      &::after {
        content: "\a0";
      }
    }
  }
}
