@import "./dxpr_theme_subtheme.variables.scss";

// 0-767 narrow
// 768-1200 medium
// 1201+ large

@media (max-width: 767px) {
  .medium-top-margin {
    margin-top: 90px;
  }
}

// Narrow
@media (max-width: 767px) {
  .hide-on-narrow {
    display: none;
  }
}

// Medium
@media (min-width: 768px) and (max-width: 1200px) {
  .hide-on-medium {
    display: none;
  }
}

// Narrow
@media (min-width: 1201px) {
  .hide-on-wide {
    display: none;
  }
}

.vr-right-white {
  border-right: 2px solid rgba(255,255,255,0.15);
}

// Erase this wherever it is in one of the drag and drop pages.
.font-condensed {}

// Highlighted CKeditor text. Tricky because DXPR text editing
// applies styles direclty and does not assign the span any css class.
// .highlighted is for the mbgna custom text editing.
span[style*="color:#888888;"] > mark,
.highlighted {
  background: $maize-primary;
  color: $black;
  padding: 0.15em;
}

.outdented {
  padding-left: 0;
}

.center-content {
  text-align: center;
}

.wrap-containers {
  position: relative;
}

.accordion-item {
  color: inherit;
}

header > div {
  max-width: 1920px;
  margin: 0 auto;

  // Account for banner/content margins of 60px on each side.
  // that should line up with the logo.
  // 1920+60+60 = 2040
  @media (max-width: 2040px) {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

#secondary-header {
  display: block;
}

@media (max-width: 767px) {
  .standard-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .container-fluid,
    .dxpr-theme-fluid.navbar-container,
    .dxpr-theme-fluid.page-title-container {
      padding-left: 0;
      padding-right: 0;

      .az-row .az-row .az-column {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar-container.dxpr-theme-fluid,
  .page-title-container.dxpr-theme-fluid,
  .container-fluid {  
    padding-left: 0;
    padding-right: 0;
  }
}

// .secondary-header-container.dxpr-theme-fluid,
// .navbar-container.dxpr-theme-fluid,
// .page-title-container.dxpr-theme-fluid,
// .dxpr-theme-prefooter.dxpr-theme-fluid,
// .dxpr-theme-footer.dxpr-theme-fluid {
//   padding-left: 5%;
//   padding-right: 5%;
// }

.body--dxpr-theme-nav-desktop {
  .dxpr-theme-header {
    color:inherit;

    .wrap-branding {
      height: 70px;
      line-height: 70px;

      #logo {
        max-height: none !important;
        max-width: none;
        width: 400px;
      } 
    }  
  }  
}

.body--dxpr-theme-nav-mobile {
  .dxpr-theme-header {
    padding: 15px 0;
  }

  #logo {
    width: calc(100% - 90px);

    @media (max-width: 1200px) {
      margin-top: -15px;
      width: 100%;
    }

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  #dxpr-theme-menu-toggle {
    margin: 17px 0 0 !important;
  }

  // This actually holds just the logo. No nav.
  .region-navigation {
    width: calc(100% - 50px);
  }
}


// Top nav.
#secondary-header {
  @media (max-width: 767px) {
    display: none;
  }

  padding-top: 0;
  padding-bottom: 0;
  justify-content: right;
  
  ul.nav {
    background-color: $blue-secondary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float:right;
    margin-top: 0;

    & > li {
      margin-bottom: 0;
    }

    & > li:first-child a {
      padding-left: 1.5rem;
    }

    & > li:nth-last-child(2) a {
      padding-right: 1.5rem;
    }

    & > li:last-child a {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    & > li > a {
      color: $white;
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 1920px) {
  .block-system-menu-blocktop-menu {
    height: 35px;

    ul.nav {
      position: absolute;
      right: 0;

      a.highlight {
        border-bottom-right-radius: 0;
      }
    }
  }
}


// Bottom navs.
#secondary-header,
#prefooter,
#footer {
  ul.nav {
    display: flex;
    flex-direction: row;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

#prefooter,
#footer {
  & > div {
    max-width: 1920px;
    margin: 0 auto;
  }
}

#prefooter {
  display: block;
}

@media (max-width: 1919px) {
  .page-bottom-action-panel {
    .az-element.az-color-style {
      border-radius: 0 !important;
    }
  }
}

#footer {

  @media (max-width: 1919px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  .views-title {
    float:left;

    @media (max-width: 767px) {
      float: none;
    }

    h2 {
      float: left;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin: 0;
    }
  }

  .nav {
    a {
      color: $blue-secondary;
      line-height: 20px;
      font-size: 14px;

      @media (max-width: 767px) {
        padding-left: 0;
      }
    }
  }

  .social-icons {
    text-align: center;
  }
}

#menu-internal {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 30px 0;
  padding: 15px 0;

  @media (max-width: 767px) {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    .nav {
      a {
        // font-size: 12px;
      }
    }
  }
}

#menu-prefooter {
  .nav {
    a {
      background-color: $maize-primary;
      color: $black;
      font-size: 14px;
      margin-right: 15px;
      padding: 10px;

      @media (max-width: 767px) {
        background-color: transparent;
        color: #0D57AA;
        font-size: 14px;
        margin-right: 10px;
        padding: 0;
      }
    }

    li:last-child a {
      margin-right: 0;
    }
  }
}

.menu-closure {
  .nav {
    a {
      color: $blue-secondary;
    }

    li:first-child {
      a {
        padding-left: 0;
      }
    }
  }
}

.accordion-item .accordion-body,
.accordion-item .accordion-body h1,
.accordion-item .accordion-body h2,
.accordion-item .accordion-body h3,
.accordion-item .accordion-body h4,
.accordion-item .accordion-body h5,
.accordion-item .accordion-body h6,
.accordion-item .accordion-body label,
.accordion-item .accordion-body .field--label {
  color: $black;
}

.region-sidebar-first,
.region-sidebar-second {
  color: inherit;
}

.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-content {
  padding: 0;
}

.is-not-dxpr-layout {
  .main-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .page-title-full-width-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }

  &.page-node-type-garden,
  &.page-node-type-conservatory,
  &.page-node-type-trail,
  &.page-node-type-room,
  &.path-product {
    .main-container {
      margin-bottom: 0;
    }      
  }

  .main-container > .row {
    & > aside:first-child {
      padding-right: 10%;
    }

    & > aside:last-child {
      padding-left: 5%;
    }
  }

  h1.page-title {
    height: auto !important;
  }
}

.is-dxpr-layout {
  .main-container > .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-node-type-garden,
.page-node-type-conservatory,
.page-node-type-trail,
.page-node-type-room,
.path-product {
  .main-container {
    padding-left: 0;
    padding-right: 0;

    & > .row {
      & > * {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.location-card h1 {
  line-height: 1.15em;
}

.banner-thin {
  @media (max-width: 767px) {
    background: #0D57AA;
    &,
    h2,
    a {
      color: #fff;
    }

    .col-md-4 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  .banner-image {
    border-bottom-left-radius: 90px;
  }

  .breadcrumb {
    font-size: 14px;
  }
}

.banner-full,
.banner-wide {
  position: relative;
  overflow: hidden;

  .breadcrumb {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-top: 0;
    min-width: 50%;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 10px;

    a {
      color: $maize-primary;
    }
  }

  &::before {
    background: #000;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 50%);
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (max-width: 767px) {
      background: #000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.80), rgba(0,0,0,0.20) 100%);
    }
  }
}

// .banner-wide {
//   margin-top: 30px; // TODO this should only apply to wide banners at the very top of the page.
// }

@media (max-width: 767px) {
  .banner-wide {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-bottom: 60px !important;

    & > div {
      padding-left: 5% !important;
      padding-right: 5% !important;
    }
  }
}


@media (max-width: 767px) {
  .header-banner-video > .az-element,
  .header-banner-image > .az-element {
    padding-top: 120px !important;
    padding-bottom: 90px !important;
  }
}

.header-banner-content {
  z-index: 1001;
}

.header-banner-video .inlinePlayButton {
  display: none;
}

@media (max-width: 767px) {
  .header-banner-carousel .owl-controls {
    display: none !important;
  }

  .owl-wrapper{
    display: flex !important;
  }

  .owl-item {
    display: flex;

    & > .az-slide {
      display: flex;
      width: 100%;

      & > .az-slide {
        display: flex;
        width: 100%;

        & > .az-element {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1520px) {
  .contain-wide-body-text {
    max-width: 768px;
  }
}

// Left align dots.
.st-owl-theme.st-owl-pager-inside .owl-pagination {
  left: 6%;
}

// DXPR 2.4.0 sets a huge bottom padding of about 56%
// to display the whole video, which ruins the
// banner's proporations.
// This is a temp fix that relies on padding set
// on the content inside the slide or some other
// element that sets the height.
.owl-item .mb_YTPlayer {
  // padding: 0 !important;
  padding: 15% 5% 10% !important;
  height: auto !important;
}


.landing-card-large {
  .landing-link-list {
    ul {
      font-size: 16px;
      font-weight: bold;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
        margin: 0;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }  

  .photo-grid-section {
    max-width: 480px;
  }
}

.shape-background-tall {
  background-size: 30%;
}

// Add an extra pixel to the width so that monitors with an exact width of 1920px
// do not get a fade-out gradient for landing card image sections.
@media (min-width: 1921px) {
  .landing-card-large-image-right {
    &::before {
      content: ' ';
      display: block;
      height: 100%;
      width: 33.3333%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
    }
  }

  .landing-card-large-image-left {
    &::before {
      content: ' ';
      display: block;
      height: 100%;
      width: 33.3333%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(-90deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
    }
  }
}

@media (max-width: 1920px) {
  .landing-card-large-image-left {
    .az-image-content {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  .landing-card-large-image-right {
    .az-image-content {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .landing-card-large {
    display: flex;
    flex-direction: column;

    .az-image {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &.landing-card-image-right {
      & > div:last-child {
        .az-text {
          display: none;
        }
      }
    }
  }

  .landing-card-large > div {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .landing-card-large-image-left {
    & > div:first-child {
      .az-text {
        display: none;
      }
    }

    @media (min-width: 1921px) {
      &::before {
        content: ' ';
        display: block;
        height: 100%;
        width: 95px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
      }
    }
  }

  .landing-card-large-image-right {
    & > div:first-child {
      order: 1;
    }
    & > div:last-child {
      .az-text {
        display: none;
      }
    }

    @media (min-width: 1921px) {
      &::before {
        content: ' ';
        display: block;
        height: 100%;
        width: 95px;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(-90deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
      }
    }
  }
}

.landing-text-blurb {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(720px + 10%);
}

@media (max-width: 767px) {
  .page-bottom-action-panel {
    .vr-right-white {
      border: none;
    }

    & > .container {
      & > div {
        padding: 30px !important;

        & > div {
          padding: 0 !important;

          &:first-child {
            padding-bottom: 60px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .region-footer {
    padding: 0 !important;

    .az-column {
      padding: 0 !important;
    }
  }

  #prefooter {
    margin-top: 60px;
  }

  #footer {
    h2 {
      margin-right: 10px !important;
      line-height: 20px !important;
    }
    .nav {
      a {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
      }
    }

    .footer-address {
      margin: 45px 0 30px !important;
      padding: 0 !important;

      .address-1,
      .address-2 {
        float: left;
        width: 50%;
      }

      .address-1 {
        padding-right: 15px !important;
      }

      .address-2 {
        padding-left: 15px !important;
      }
    }

    .social-icons {
      border-top: 1px solid #ccc;
      justify-content: center;
      margin: 45px 0 0;
      padding: 30px 0 0;

      & > div {
        float: left;
        width: 45px;
        text-align: left;

        img {
          width: auto !important;
          height: 20px !important;
        }
      }
    }

    .footer-content {
      margin-top: 0 !important;
      text-align: center;

      ul.nav {
        justify-content: center;
      }
    }

    .gtranslate_wrapper {
      border-top: 1px solid #ccc;
      font-size: 11px;
      padding: 10px 0;
    }
  }
}

@media (max-width: 767px) {
  .landing-card-large {
    .container-fluid-wrapper {
      padding-right: 0 !important;
    }

    .colorbox {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: -20px;
      margin-right: -20px;
      font-size: 7px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      & > .az-element {
        width: 30%;
      }
    }
  }  
}

.field--name-field-collaborator-comments {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  margin: 90px auto;
  max-width: 1280px;
  padding: 60px;
  border-radius: 15px;

  h2, label {
    font-family: $font-family-sans-serif;
  }

  h2 {
    font-size: 22px;
  }

  .comment-form__title {
    font-size: 22px;
    margin-top: 60px;

    &:first-child {
      margin-top: 0;
    }
  }

  label {
    font-size: 18px;
    margin-bottom: 0.5em;
  }

  .comment {
    border: 1.5px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 30px;

    .permalink {
      font-size: 13px;
    }

    h3 {
      font-size: inherit;
      margin-bottom: 15px;
    }
  }
}

.path-node.page-node-type-basic-page {
  .breadcrumb {
    left: auto !important;
  }

  .main-container {
    .block-system-main-block {
      margin: 0 5%;

      article.basic-page.full {
        margin: 60px auto;
        padding: 0 60px;

        .field {
          margin-bottom: 30px;
        }

        .field--name-body {
          max-width: 800px;
        }
      }
    }

  }
}

.big-caption > * {
  line-height: 1.25em;
  margin: 0 0 0.5em;
}

.grid-icon {
  text-align: center;
  margin: 0 0 15px;
}

.view {
  .more-link {
    display: block;
    margin-top: 45px;
    text-align: left;
  }
}

.view.node-listing {
  .views-row {
    margin-bottom: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #ddd;
  }

  .col-secondary {
    display: flex;

    & > .field {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .field--label-inline .field__label {
    float: left;
  }

  .field--name-field-event-categories {
    display: flex;
    margin-bottom: 15px;

    .field__item {
      font-size: 14px;
      margin-right: 1em;
    }
  }

  .field--name-body {
    margin: 1em 0;
    font-size: 18px;
  }

  .field--name-field-date-smart-wrapper {
    background-color: $lighter-gray;
    color: $darker-gray;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 30px;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  .field--name-field-date-smart {
    & > .field__item:nth-child(2) {
      margin-top: -30px;

      &::before {
        content: ' to ';
        display: block;
        font-size: 0.85em;
        font-weight: normal;
        margin-bottom: -30px;
        max-width: 300px;
        min-width: 200px;
        text-align: center;
      }
    }
  }

  @media (min-width: 1501px) {
    time {
      white-space: nowrap;
    }
  }
}

.views-exposed-form,
.view-header {
  h2 {
    margin-bottom: 1.5em;
  }
}

.banner-wide-container,
.slideshow-container {
  overflow: hidden;

  @media (max-width: 1919px) {
    border-radius: 0 !important;
  }

  @media (min-width: 1920px) {
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
  }
}

.az-carousel .az-slide.header-banner-image,
.az-carousel .az-slide.header-banner-video,
.card-billboard {
  &::before {
    background: #000;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 50%);
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .az-ctnr.container-fluid {
    position: relative;
    z-index: 1000;
  }

  .az-element {
    position: relative;
  }
}

.card-billboard::before {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cards {
  img {
    width: 100%;
  }

  &.cards-3-col {
    .view-content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-left: -60px;
      margin-right: -60px;

      .views-row {
        flex-basis: percentage(1/3);
        padding: 0 60px;

        @media (max-width: 767px) {
          padding: 0 0 60px;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.card-kicker {
  color: #999;
  margin: 5% 0 2.5%;
}

.card-heading {
  h3, h4, h5 {
    font-size: 1.35em;
    margin-bottom: 0.5em;
  }
}

.card-subheading {
  font-weight: bold;
}

.card-image img {
  border-radius: 10px;
}


.visiting-information {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.bef-exposed-form legend {
  margin: 0;
}

// add padding to bootstrap columns inside full view articles only
article.full.content-main {

}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

}

@media (max-width: 767px) {
  .az-column {
    padding: 0 !important;
    float: none;
    margin: 0 !important;
  }

  .mobile-margin-hz-0x {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .mobile-margin-hz-1x {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .mobile-margin-hz-2x {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  .mobile-margin-vt-0x {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .mobile-margin-vt-1x {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .mobile-margin-vt-2x {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  .mobile-padding-hz-0x {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .mobile-padding-hz-1x {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile-padding-hz-2x {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .mobile-padding-vt-0x {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .mobile-padding-vt-1x {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
  }

  .mobile-padding-vt-2x {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }

  .mobile-container-padding-hz {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

.accordion-item {
  background-color: transparent;
}

.article-body-content-column-main {
  .field--name-field-commerce,
  .field--name-field-commerce-external {
    margin: 60px 0;
  }  
}

.is-not-dxpr-layout {
  .simple-header {

    .banner-thin {
      padding: 30px 0;

      .field--name-field-post-type,
      .field--name-field-position-type {
        color: #666;
        margin-top: 15px;
        text-transform: uppercase;
      }

      h1 {
        margin-top: 45px;
      }
    }
  }
}

.tabs-top {
  .nav-tabs {
    border-bottom: none;
    justify-content: flex-start !important;

    li {
      margin-right: 15px !important;

      a {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }
}

.ui-dialog {
  .ui-widget-header {
    .ui-dialog-titlebar-close {
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 15px;
      margin-top: 5px;
    }
  }
}

#tree-spinner {
  border-radius: 10px;
  overflow: hidden;
}

#member-level-benefits {
  tr:first-child {
    td {
      &:first-child {
        border-top-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
      }
    }
  }

  tr:nth-child(4) {
    td {
      &:first-child {
        border-bottom-left-radius: 10px;
      }
    }
  }
}
