@import "./dxpr_theme_subtheme.variables.scss";

.event.full {
  margin-top: 30px;
  margin-bottom: 90px;
  
  .field--name-field-event-category {
    margin-bottom: 60px;
  }

  .field--name-field-image {
    margin-bottom: 60px;
  }

  .field--name-field-map-link {
    margin-top: -15px;
  }

  .field--name-field-date-smart {
    font-size: 22px;
    margin-top: -45px;
  }

  .article-heading {
    margin-bottom: 30px;
  }

  .article-body-content-column-right {
    & > .field,
    & > .field p {
      font-size: 14px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
