@import "./dxpr_theme_subtheme.variables.scss";

.path-facility,
.path-node,
.path-organization,
.path-resource,
.path-plant {
  &.is-not-dxpr-layout {
    .main-container {
      & > .row > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 1920px;
      }
    }

    article.full {
      .row > * {
        padding-left: calc(var(--bs-gutter-x) * 2);
        padding-right: calc(var(--bs-gutter-x) * 2);
      }

      .row > .row {
        padding-left: 0;
        padding-right: 0;
      }

      .row > .article-body-content-column {
        &.article-body-content-column-left {
          padding-left: 0;
        }
      }

      .row > .article-aside {
        &.article-aside-right {
          padding-right: 0;
        }
      }

      h3,
      .main-content-title {
        font-family: $font-family-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.15em;
        margin-bottom: 1em;
      }

      h4,
      .main-content-subtitle {
        font-size: 21px;
        margin-top: 0;
      }

      .main-content-subtitle {
        margin-top: -15px !important;
      }

      .article-kicker {
        letter-spacing: 0.5px;
        margin-bottom: 60px;
        text-transform: uppercase;
      }

      .article-aside,
      .article-body-content-column-left:not(.article-body-content-column-main),
      .article-body-content-column-right:not(.article-body-content-column-main) {
        .field {
          background: #eee;
          border-radius: 5px;
          margin-bottom: 30px;
          padding: 15px;
        }
      }

      .article-body-content-column-main {
        .field {
          margin-bottom: 30px;
        }
      }

      .article-body-content-column,
      .article-aside {
        padding: 0 30px;
      }

      .article-body-content-column {
        &.article-body-content-column-left {
          padding-left: 0;
        }

        &.article-body-content-column-right {
          padding-right: 0;
        }
      }

      .article-aside {
        &.article-aside-left {
          padding-left: 0;
        }
      }

      .article-aside {
        &.article-aside-right {
          padding-right: 0;
        }
      }

      .article-has-aside-right {
        .article-body-content-column-right {
          padding-right: 30px;
        }
      }

      .article-has-no-aside-left {
        .article-body-content-column-main {
          padding-left: 0;
        }
      }

      .article-has-no-aside-right {
        .article-body-content-column-main {
          padding-right: 0;
        }
      }

      // Individual fields

      .field {
        &.field--name-field-display-image {
          margin-bottom: 60px;

          img {
            border-radius: 15px;
          }
        }
      }
    }
  }
}

article.listing {
  & > .content {
    & > .col-secondary {
      padding-right: 60px;
    }
  }
}
