@import "./dxpr_theme_subtheme.variables.scss";

.view-content-row {
  .view-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
  }
}

.view-content-row-cards {
  .view-content {
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-right: -30px;
  }

  .views-row {
    flex: 1;
    padding: 0 30px;
  }
}

.view {
  &.grid {
    & > .view-content {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;

      @media (min-width: 1201px) {
        margin: -45px;
      }

      & > .views-row {
        align-items: flex-end;
        display: flex;
        flex-basis: 33%;
        padding: 15px;

        @media (min-width: 1201px) {
          padding: 45px;
        }

        .field--name-field-image img {
          border-radius: 10px;
        }
      }
    }
  }
}

.view-posts {
  &.view-display-id-block_1 {
    .post {
      margin-bottom: 30px;
    }
  }
}
