@import "./dxpr_theme_subtheme.variables.scss";
@import "./dxpr_theme_subtheme_block.scss";
@import "./dxpr_theme_subtheme_component.scss";
@import "./dxpr_theme_subtheme_dashboard.scss";
@import "./dxpr_theme_subtheme_element.scss";
@import "./dxpr_theme_subtheme_entity.scss";
@import "./dxpr_theme_subtheme_entity_facility.scss";
@import "./dxpr_theme_subtheme_entity_node.scss";
@import "./dxpr_theme_subtheme_entity_node_event.scss";
@import "./dxpr_theme_subtheme_entity_node_position.scss";
@import "./dxpr_theme_subtheme_entity_node_post.scss";
@import "./dxpr_theme_subtheme_entity_plant.scss";
@import "./dxpr_theme_subtheme_entity_user.scss";
@import "./dxpr_theme_subtheme_entity_webform.scss";
@import "./dxpr_theme_subtheme_field.scss";
@import "./dxpr_theme_subtheme_font.scss";
@import "./dxpr_theme_subtheme_form.scss";
@import "./dxpr_theme_subtheme_nav.scss";
@import "./dxpr_theme_subtheme_paragraph.scss";
@import "./dxpr_theme_subtheme_view.scss";

a:hover, 
a:focus, 
.btn-link:hover, 
.btn-link:focus {
  text-decoration: none;
}

.wrap-containers {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding-left: unset;
  padding-right: unset;
}

.bold {
  &,
  & > a {
    font-weight: bold;
  }
}

.justify-center {
  text-align: center;
}

.main-container > .row > section {
  padding-left: initial;
  padding-right: initial;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }  
}

@media (max-width: 1919px) {
  .hide-on-tablet {
    display: none;
  }  
}

@media (min-width: 1920px) {
  .hide-on-desktop {
    display: none;
  }  
}

.media {
  &.align-left {
    margin: 1em 2em 1em 0; 
  }

  &.align-right {
    margin: 1em 0 1em 2em  
  }
}
