@import "./dxpr_theme_subtheme.variables.scss";

.event.full {
  .article-heading {
    .field--name-field-event-category {
      color: #666;
      margin-top: 15px;
      text-transform: uppercase;
      margin-top: calc(-60px + 15px);
      margin-bottom: 60px;

      a {
        color: #666;
      }
    }
  }
}

.event.full {
  margin-bottom: 90px;
  
  .field--name-field-event-categories {
    margin-bottom: 60px;
    display: flex;
  }

  .field--name-field-image {
    margin-bottom: 60px;
  }

  .field--name-field-map-link {
    margin-top: -15px;
  }

  .field--name-field-date-smart {
    font-size: 22px;
    margin-top: -45px;
  }

  .article-body-content-column-right {
    & > .field,
    & > .field p {
      font-size: 14px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.event.listing {

  .field--name-field-event-categories {
    .field__item {
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  img {
    border-radius: 5px;
  }

  .field--name-field-date-smart {
    font-size: 18px;
    font-weight: bold;
  }

  .field--name-field-location {
    .field__label {
      font-weight: normal;
      padding-right: 0;

      &::after {
        content: "\a0";
      }
    }
  }
}
