@import "./dxpr_theme_subtheme.variables.scss";

.event.full {
  .article-heading {
    margin: 2% 0;
  }

  .field--name-field-map-link {
    margin-top: -15px;
  }

  .field--name-field-date-smart {
    margin-top: 30px !important;
    margin-bottom: 60px !important;
  }

  .field--type-link {
    .btn {
      margin-top: 5px !important;
    }
  }

}

.event.listing {
  .field--name-field-date-smart {
    font-size: 18px;
    font-weight: bold;
  }

  .field--name-field-location {
    .field__label {
      font-weight: normal;
      padding-right: 0;

      &::after {
        content: "\a0";
      }
    }
  }
}
