@import "./dxpr_theme_subtheme.variables.scss";

// // MOBILE STYLES
// // Uses the core main navigation menu.
@media (max-width: 1200px) {
  .navbar-header {
    width: 100%;
  }
}

.html--dxpr-theme-nav-mobile--open {
  .body--dxpr-theme-nav-mobile {
    .dxpr-theme-header {
      #dxpr-theme-menu-toggle {
        margin: -8px -10px 0 0 !important;
        padding: 10px 24px 10px 0;

        @media (min-width: 768px) and (max-width: 1200px) {
          margin: -42px -30px 0 0 !important;
        }

        span {
          &::before, &::after {
            background-color: $maize-primary;
          }
        } 
      }

      .dxpr-theme-main-menu {
        @media (max-width: 1200px) {
          background-color: $blue-primary;
        }

        .nav-mobile {
          ul {
            list-style: none;
            padding: 0;
          }

          & > ul {
            font-size: 20px;

            & > li > span,
            & > li > a {
              background: $maize-primary;
              border-radius: 5px;
              color: $blue-primary;
              display: block;
              font-family: $font-family-serif;
              font-weight: bold;
              margin-bottom: 15px;
              margin-left: -10px;
              margin-right: -10px;
              margin-top: 30px;
              padding: 2.5px 10px;

              &:hover {
                color: $blue-primary;
              }
            }

            & > li:first-child > span,
            & > li:first-child > a {
              margin-top: 0;
            }
           
            & > li > ul {
              font-size: 16px;

              & > li {
                margin: 5px 0;
              }

              & > li > a,
              & > li > span {
                font-weight: bold;
              }

              & > li > ul {
                border-top: 1px solid #ffcb05;
                font-size: 14px;
                margin-bottom: 15px;
                margin-top: 5px;
                padding-top: 5px;

                a, span {
                  display: inline-block;
                  font-size: 12px;
                  padding: 2.5px 0;
                }
              }
            }
          }

          li > * {
            color: $maize-primary;
          }

          a:hover {
            color: $maize-primary;
          }
        }
      }
    }
  }
}

// Desktop styles
.body--dxpr-theme-nav-desktop {
  .dxpr-theme-header--top {
    // Menu headings
    h4 {
      font-size: 20px;
      line-height: 1.35em;
      margin-bottom: 30px;
      overflow: hidden;
      white-space: nowrap;
    }

    p.display {
      margin-bottom: 0;
    }

    .btn-default {
      color: $white;

      &:hover {
        color: $black;
      }
    }
  }
}

.body--dxpr-theme-nav-desktop {
  .dxpr-theme-header--top {
    #dxpr-theme-main-menu,
    .dxpr-theme-header--top {
      .nav,
      .nav .dropdown-menu {
        & > li > a,
        & > li > span,
        & a,
        & span {
          font-size: 18px;

          &::after {
            content: ' ›';
          }
        }
      }

      .nav-buttons {
        & > div > .nav,
        & > .nav {
          & > .dropdown {
            a {
              background: $blue-secondary;
              border-radius: 5px;
              color: $white;
              display: inline-block;
              font-size: 14px;
              font-weight: bold;
              padding: 7.5px 15px;

              &.is-active {
                color: $white;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1201px) {
  .dxpr-theme-main-menu {
    font-size: 18px;
    display: flex;
    align-items: center;
    position: static !important;

    & > .region {
      width: 100%;
    }
  }
}

.navbar-container {
  display: flex !important;
}

.dxpr-theme-main-menu {
  width: 100%;
}

.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .block {
  float: none;
}

.tbm-main {
  background-color: transparent;
  position: static;
}

.tbm-nav {
  justify-content: space-evenly;
}

.tbm-item.level-1 {
  border-right: none;
  display: table;
}

.tbm-item.level-1 > div > a,
.tbm-item.level-1 > div > span {
  display: table-cell;
}

.tbm-submenu {
  border-color: #ddd;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  max-width: 100%;
  right: 0;
  top: auto;
  width: auto;
}

.tbm-submenu-toggle {
  background-color: transparent;
}

.tb-megamenu-submenu {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);

  .row-fluid + .row-fluid {
    border-top: none;
  }
}

.tbm-item.level-1 {
  & > div {
    & > a,
    & > button,
    & > span {
      color: $blue-secondary;
      display: inline-block;
    }

    & > a,
    & > span {
      font-weight: bold;
      margin-top: 15px;
      padding: 0;
    }

    & > button {
      margin-top: 10px;
    }
  }
}

.tbm-link.level-1 {
  &,
  & .no-link {
    &:hover {
      background: none;
    }
  }
}

.tbm-submenu-toggle:hover, 
.tbm-submenu-toggle:focus {
  background-color: transparent;
}

.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav {
  float: none;
}

.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav > li {
  display: block;
  float: none;

  & > a,
  & > span {
    border-bottom: 1px dotted #eee;
    display: block;
    margin-bottom: 12.5px;
    padding: 0 0 12.5px;
  }

  &:last-child {
    & > a,
    & > span {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav > li > a, 
.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav > li > span {
  height: auto;
  line-height: 1.5em;
  text-transform: unset;
}

#navbar.dxpr-theme-header--hover-opacity .menu .dropdown.expanded a.is-active {
  color: $blue-secondary;
}


// Tab navigation
.nav-tabs > li > a {
  color: $blue-secondary;
}

.nav-tabs {
  .nav-item {
    .nav-link {
      &.active {
        background: none !important;
        border: none;
        box-shadow: none !important;
        color: $black;
      }
    }
  }
}

.nav-tabs.left-tabs {
  margin-top: 15px !important;
}

.tabs-top {
  .nav-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 0 30px !important;

    .nav-item {
      border-bottom: none !important;

      a {
        padding: 5px;
        text-align: center;
        font-weight: bold;

        &::after {
          display: none !important;
        }
      }
    }
  }
}