@import "./dxpr_theme_subtheme.variables.scss";

.block-content-followup {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  .block-title {
    margin-bottom: 1.5em;
    font-family: $font-family-sans-serif;
    font-size: 22px;
  }
}

.simple-header {
  .breadcrumb {
    color: $black;

    a {
      color: $blue-secondary;
    }
  }
}

.region-sidebar-first {
  & > .block {
    margin-bottom: 60px;
  }
}

#block-mbgna-dxpr-contactussidebar,
#block-mbgna-dxpr-contactussidebaradditional {
  padding-top: 1em;
}

.mbgna-location-hours {
  color: $red;
  font-size: 20px;
  line-height: 30px;

  .office-hours-status-text {
    font-weight: bold;
    font-size: 22px;
  }

  .field--name-field-annotation {
    color: #999;
    font-size: 14px;
  }
}

#node-instagram {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 60px;
  padding-bottom: 0;

  img {
    border-radius: 5px;
  }
}
