@import "./dxpr_theme_subtheme.variables.scss";

.plant.full {
  .article-body-content-column-main {
    & > .field:first-child {
      margin-top: 0;
    }
  }
}

.plant.card-box {
  background: $blue-primary;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  font-size: 16px;
  line-height: 1.5em;

  &, a {
    color: $white;
  }

  .field--name-field-display-image {
    margin: -30px -30px 30px;
  }

  .field--name-field-mbgna-id {
    opacity: 0.5;
  }
}

.plant.minimal {
  background: $blue-secondary;

  .field--name-field-display-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .field--name-field-display-name {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10%;

    a {
      color: $white;
    }
  }
}

.view-plant.view-display-id-block_2,
.view-plant.view-display-id-block_4 {
  .view-content {
    display: flex;

    .views-row {
      margin-bottom: 30px;
    }
  }

  .views-exposed-form {
    margin-bottom: 30px;

    .form--inline {
      display: flex;
    }

    label {
      display: none;
    }

    .form-select {
      padding-right: 20px;
    }

    .fieldset-wrapper {
      display: flex;

      .form-text {
        padding: 8px 12px 7.5px 8px;
      }
    }

    .form-item-year-acquired-min,
    .form-item-year-acquired-max {
      max-width: 180px;
    }

    .form-item,
    .form-actions {
      margin-right: 15px;
      margin-top: 0;
    }

    .form-submit {
      padding: 11.5px 12px;
    }
  }
}

.view-plant.view-display-id-block_3 {
  .view-empty {
    background: #eee;
    border-radius: 5px;
    color: #999;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    letter-spacing: 0.25px;
    padding: 15% 5%;
    text-transform: uppercase;
  }
}

.view-plant-taxonomies.view-display-id-block_1 {

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -30px;
  }

  .views-row {
    display: flex;
    flex-basis: percentage(1/3);
    padding: 30px;
  }
}

.view-plant-taxonomies.view-display-id-block_2 {
  .view-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: -45px;

    .views-row {
      padding: 45px;
    }
  }
}

.taxonomy-term.vocabulary-bonsai-style-basic {
  background: $blue-primary;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;

  .field--name-field-display-image {
    margin: -30px -30px 30px;
  }

  &, a {
    color: $white;  
  }
}

.taxonomy-term.vocabulary-peony-form {
  .field--name-field-display-image {
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .field--name-field-peony-icon {
    float: left;
    margin: 0 30px 0 0;
    width: calc(25% - 30px);
  }

  h3 {
    float: left;
    width: calc(75%);
  }

  .field--name-description {
    float: left;
    width: calc(75%);
  }
}

