@import "./dxpr_theme_subtheme.variables.scss";
@import "./dxpr_theme_subtheme_block.scss";
@import "./dxpr_theme_subtheme_commerce.scss";
@import "./dxpr_theme_subtheme_component.scss";
@import "./dxpr_theme_subtheme_dashboard.scss";
@import "./dxpr_theme_subtheme_element.scss";
@import "./dxpr_theme_subtheme_entity.scss";
@import "./dxpr_theme_subtheme_entity_bed.scss";
@import "./dxpr_theme_subtheme_entity_facility.scss";
@import "./dxpr_theme_subtheme_entity_honor.scss";
@import "./dxpr_theme_subtheme_entity_node.scss";
@import "./dxpr_theme_subtheme_entity_node_event.scss";
@import "./dxpr_theme_subtheme_entity_node_position.scss";
@import "./dxpr_theme_subtheme_entity_node_post.scss";
@import "./dxpr_theme_subtheme_entity_node_resource.scss";
@import "./dxpr_theme_subtheme_entity_organization.scss";
@import "./dxpr_theme_subtheme_entity_plant.scss";
@import "./dxpr_theme_subtheme_entity_user.scss";
@import "./dxpr_theme_subtheme_entity_webform.scss";
@import "./dxpr_theme_subtheme_field.scss";
@import "./dxpr_theme_subtheme_font.scss";
@import "./dxpr_theme_subtheme_form.scss";
@import "./dxpr_theme_subtheme_nav.scss";
@import "./dxpr_theme_subtheme_paragraph.scss";
@import "./dxpr_theme_subtheme_view.scss";

a:hover, 
a:focus, 
.btn-link:hover, 
.btn-link:focus {
  text-decoration: none;
}

.wrap-containers {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding-left: unset;
  padding-right: unset;
}

.bold {
  &,
  & > a {
    font-weight: bold;
  }
}

.justify-center {
  text-align: center;
}

.main-container > .row > section {
  padding-left: initial;
  padding-right: initial;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }  
}

@media (max-width: 1919px) {
  .hide-on-tablet {
    display: none;
  }  
}

@media (min-width: 1920px) {
  .hide-on-desktop {
    display: none;
  }  
}

.media {
  &.align-left {
    margin: 1em 2em 1em 0; 
  }

  &.align-right {
    margin: 1em 0 1em 2em  
  }
}

.overflow-hidden {
  overflow: hidden;
}

.js {
  .dxpr-shadow-2,
  .dxpr-shadow-hover-2:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
  }
}

.container-white {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  padding: 5%;
}

.container-squeeze {
  max-width: 960px;
}

.faded {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .webform-flex--container {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .webform-flexbox {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .webform-flexbox .webform-flexbox {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .webform-address {
    .webform-flexbox:first-child {
      margin-top: 0;
    }

    .webform-flexbox:last-child {
      margin-bottom: 0;
    }
  }

  .webform-address__city,
  .webform-address__province {
    margin-right: 1em;
  }

  .webform-flex--container > .form-item {
    margin: 0;

    .webform-flex {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
