@import "./dxpr_theme_subtheme.variables.scss";

form {
  label {
    font-family: $font-family-sans-serif;
  }
}

.prefooter-form-newsletter {
  form {
    display: flex;  
  }
  
  input, button {
    display: block;
  }

  input {
    background: #fff !important;
    border-radius: 6px !important;
    border: none !important;
    color: $black !important;
    height: 38px !important;
    width: 180px;
  }
}

select.form-control,
select.form-select {
  color: #666; // Same color as placeholders until a valid option is selected.
               // See forms.js in the theme.
}

.bef-exposed-form {
  fieldset {
    margin-top: 0;
    margin-right: 0 !important;

    .fieldset-wrapper {
      & > .form-item {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  .form-item-published-min,
  .form-item-published-max {
    label {
      display: none;
    }
  }

  .form--inline {
    & > .form-item {
      float: none;
      margin-right: 0;
    }
  }
}

.form-item-date-min,
.form-item-date-max {
  width: 50%;
  float: left !important;
  margin-top: 0;
  margin-bottom: 0;
}

.form-item-date-min {
  padding-right: 7.5px;
}

.form-item-date-max {
  padding-left: 7.5px;
}


.path-login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px !important;
  max-width: 960px !important;

  .col-left {
    padding-right: 45px;
  }

  .col-right {
    padding-left: 45px;

    h1, h2, h3, h4, h5 {
      color: $white !important;
    }
  }
}

.login-form {
  margin-bottom: 0;
  padding: 30px !important;

  .description {
    display: none;
  }
}