@import "./dxpr_theme_subtheme.variables.scss";

.path-webform {
  .main-container {
    // max-width: 960px;
    margin: 60px auto;
    // padding: 0;

    .webform-submission-form {
      .form-checkboxes {
        border: 1px solid #ccc;
        padding: 12px;
      }
    }
  }
}

.webform-submission-position-application-form {
  label, legend {
    display: none;
  }

  .form-type-processed-text {
    margin-top: 1em;
    margin-bottom: 30px;
  }

  .form-item-full-name-title-select {
    margin-bottom: 0;
  }
}