@import "./dxpr_theme_subtheme.variables.scss";

// .block-system-main-block {
//   & > article.profile {
//     font-size: 28px;
//     font-weight: 700;
//   }
// }

article.profile {
  .field--name-realname {
    font-size: 20px;
    line-height: 30px;
    margin: 0.67em 0 0.33em;
  }

  .field--name-field-organization {
    color: #999;
    font-style: italic;
  }

  &.full {
    .field--name-realname {
      margin-bottom: 0;
    }

    .field--name-field-realname {
      font-weight: bold;
      font-size: 20px;
    }

    .fields-user-contact-info {
      font-size: 14px;
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #ccc;
    }

    .user-photo {
      padding-right: 15px;
    }

    .fields-user-identity {
      padding-left: 15px;
    }

    .field--name-field-organization {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

article.full {
  .field--name-field-user {
    border-top: 1px solid $gray;
    margin-top: 30px;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 60px;

    article.profile {
      .field--name-field-photo {
        float: left;
        margin: 0 30px 15px 0;
        width: 25%;

        .field--name-field-media-image {
          margin-bottom: 0;
        }
      }

      .field--name-realname {
        float: left;
        margin: 0 0 5px !important;
        width: calc(100% - 25% - 30px);
      }

      .field--name-field-bio {
        float: left;
        margin-bottom: 0;
        width: calc(100% - 25% - 30px);

        &, p {
          font-size: 14px;
        }
      }
    }
  }
}
