@import "./dxpr_theme_subtheme.variables.scss";

.block-content-followup {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  .block-title {
    margin-bottom: 1.5em;
    font-family: $font-family-sans-serif;
    font-size: 22px;
  }
}

.simple-header {
  .banner-thin {
    border-bottom: 1px solid #ddd;
  }

  .breadcrumb {
    color: $black;

    a {
      color: $blue-secondary;
    }
  }
}