@import "./dxpr_theme_subtheme.variables.scss";

.field > img {
  width: 100%;
  height: auto;
}

.field--name-field-commerce-products,
.field--name-field-commerce-external {
  .field__item {
    article {
      background: $light-gray;
      border-radius: 10px;
      margin-bottom: 60px;
      padding: 30px;

      .field {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .form-actions {
        margin-top: 0;
      }
    }
  }
}

.field--name-field-commerce,
.field--name-field-commerce-products,
.field--name-field-commerce-external {
  .field--name-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
  }
}

.field--name-field-pricing-rates {
  & > .field__item {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

article.bed.full,
article.post.full,
.article-heading {
  margin: 60px 0 45px;

  &::before {
    background: $blue-secondary;
    content: ' ';
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

article.post.full {
  margin-top: 45px;
}

.article-heading .page-title {
  font-size: 32px;
  margin: 0 0 60px;
}

.article-heading .page-subtitle {
  margin: -45px 0 0 !important;
}

.article-body-content .field--name-field-image img {
  border-radius: 10px;
}

.block-grid, 
.blazy.block-grid, 
.item-list > .block-grid {
  margin: 0 -30px;

  @media (max-width: 1200px) {
    margin :0 -15px;
  }
}

.blazy--field-images {
  margin-top: 60px;
}

.block-grid > .grid {
  padding: 0 30px 60px;

  @media (max-width: 1200px) {
    padding :0 15px 30px;
  }

  .grid__content img {
    border-radius: 5px;
  }
}

.frontpage-stats {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.location-label{
  strong {
    background: $black;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
  }
}

.gtranslate_wrapper {
  a {
    color: $blue-secondary;
    display: inline-block;
    margin-right: 10px;
  }
}

.main-body-text-heading > p {
  font-size: 21px;
  margin-bottom: 1em;
}

.field--name-field-media-oembed-video {
  margin: 60px 0;

  .field__item {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;    

    .media-oembed-content {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

// 360-degree viewer field
.field--name-field-3d-view {
  border-radius: 10px;
  margin: 60px 0;
  margin-bottom: 60px !important;
  overflow: hidden;
}

// 360-degree viewer field content
#jsv-holder {
  width: 100% !important;
}
