@import "./dxpr_theme_subtheme.variables.scss";

// 0-767 narrow
// 768-1200 medium
// 1201+ large

// Narrow
@media (max-width: 767px) {
  .hide-on-narrow {
    display: none;
  }
}

// Medium
@media (min-width: 768px) and (max-width: 1200px) {
  .hide-on-medium {
    display: none;
  }
}

// Narrow
@media (min-width: 1201px) {
  .hide-on-wide {
    display: none;
  }
}

.vr-right-white {
  border-right: 2px solid rgba(255,255,255,0.15);
}

.font-condensed {
  font-family: 'Roboto Condensed';
}

a.highlight {
  background-color: $maize-primary !important;
  border-bottom-right-radius: 5px;
  color: $black !important;
}

a,
.btn-link,
.nav-link {
  color: $blue-secondary;
}

body {
  background: #f9f9f9;
}

.wrap-containers {
  position: relative;
}

.secondary-header-container.dxpr-theme-fluid,
.navbar-container.dxpr-theme-fluid,
.page-title-container.dxpr-theme-fluid,
.dxpr-theme-prefooter.dxpr-theme-fluid,
.dxpr-theme-footer.dxpr-theme-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

// Top nav.
#secondary-header {
  padding-top: 0;
  padding-bottom: 0;
  justify-content: right;
  
  ul.nav {
    background-color: $lighter-gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float:right;

    & > li:first-child a {
      padding-left: 1.5rem;
    }

    & > li:nth-last-child(2) a {
      padding-right: 1.5rem;
    }

    & > li:last-child a {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    & > li > a {
      font-size: $font-size-small;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}

// Bottom navs.
#secondary-header,
#prefooter,
#footer {
  ul.nav {
    display: flex;
    flex-direction: row;
  }
}

#prefooter {
  display: block;
}

#footer {
  .views-title {
    float:left;

    h2 {
      float: left;
      font-family: 'Roboto Condensed';
      font-size: 18px;
      font-weight: 700;
      height: 21px;
      line-height: 21px;
      margin: 0;
    }
  }

  .nav {
    a {
      color: $blue-secondary;
      line-height: 20px;
      font-size: inherit;
    }
  }

  .social-icons {
    text-align: center;
  }
}

#menu-internal {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 30px 0;
  padding: 15px 0;
}

#menu-prefooter {
  .nav {
    a {
      background-color: $maize-primary;
      color: $black;
      font-size: 14px;
      font-weight: 700;
      margin-right: 15px;
      padding: 15px;
    }

    li:last-child a {
      margin-right: 0;
    }
  }
}

.menu-closure {
  .nav {
    a {
      color: $blue-secondary;
    }

    li:first-child {
      a {
        padding-left: 0;
      }
    }
  }
}

// Secondary and megamenu link styles.
ul.menu,
.dxpr-theme-header ul.menu {
  a {
    text-transform: capitalize;

    &.is-active {
      color: inherit;
      opacity: 1 !important;
    }
  }
}

// Mega dropdown menu.
.body--dxpr-theme-nav-desktop {
  .dxpr-theme-header--top {
    .wrap-branding {
      height: 70px;
      line-height: 70px;

      #logo {
        max-height: none !important;
        max-width: none;
        width: 400px;
      }
    }
    .dropdown {
      span {
        padding: 0;
        pointer-events: inherit;
      }
    }
    .dxpr-theme-main-menu {
      position: static !important;

      .tb-megamenu-main {
        position: static;

        & > .tb-megamenu-nav {
          & > .tb-megamenu-item {
            position: static;

            &.level-1 {
              & > a {
                padding: 0 2.5vw 0 2.5vw;
              }
              &:last-child > a {
                padding-right: 0;
              }

              & > .tb-megamenu-submenu {
                height: calc(100vh - 135.2px);

                &.mega-dropdown-menu {
                  background: $blue-primary;
                  left: 0;
                  position: absolute;
                  top: 100px;
                  width: 100%;

                  & > .mega-dropdown-inner {
                    & > .tb-megamenu-row {
                      & > .tb-megamenu-column {
                        & > .tb-megamenu-column-inner {
                          & > .tb-megamenu-subnav {
                            display: none;
                          }

                          & > .tb-megamenu-block {
                            & > .block-inner {
                              .nav {
                                float: none;

                                li {
                                  a {
                                    color: #fff;
                                  }
                                }
                              }

                              & > .block {
                                float: none;
                                padding-left: 5%;
                                padding-right: 5%;

                                .nav > li > a {
                                  height: auto;
                                  line-height: inherit;
                                  padding: 0;
                                } 
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Sidebar menus
#block-mbgna-dxpr-content {
  ul.nav {
    font-family: "Roboto Condensed", Roboto, sans-serif;
    margin-left: 0;
    margin-right: 25%;
    margin-top: 30px;

    .dropdown {
      padding: 0 0 10px;
      border-bottom: 1px solid #ccc;
      margin: 0 0 10px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

.dxpr-theme-header--side .menu__level {
  visibility: visible;
}

.header-banner-thin .banner-image {
  border-bottom-left-radius: 90px;
}

.breadcrumb li:before {
  content: " \203A ";
  margin-left: 5px;
}

.banner-full,
.banner-wide {
  position: relative;
  overflow: hidden;

  &::before {
    background: #000;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 50%);
    bottom: 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#cboxClose {
  border: 0;
  height: 0;
  position: absolute;
  right: 0;
  text-indent: -10000px;
  top: 0;
  width: 0;

  &::after {
    background: $maize-primary;
    color: $black;
    content: '\2715';
    display: block;
    font-size: 18px;
    height: 30px;
    position: absolute;
    right: 0;
    text-indent: 0;
    top: 0;
    width: 30px;
  }
}

.landing-card-large {
  .landing-link-list {
    ul {
      font-size: 14px;
      font-weight: bold;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }  
}

.location-label{
  strong {
    background: $black;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
  }
}

.gtranslate_wrapper {
  a {
    color: $blue-secondary;
    display: inline-block;
    margin-right: 10px;
  }
}

.shape-background-tall {
  background-size: 30%;
}