@import "./dxpr_theme_subtheme.variables.scss";

.field > img {
  width: 100%;
  height: auto;
}

.path-node.is-not-dxpr-layout {
  .main-container {
    & > .row > * {
      margin-left: auto;
      margin-right: auto;
      max-width: 1920px;
    }
  }

  article.full {
    .field {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .article-body-content-column,
  .article-aside {
    padding: 0 30px;
  }

  .article-body-content-column {
    &.article-body-content-column-left {
      padding-left: 0;
    }

    &.article-body-content-column-right {
      padding-right: 0;
    }
  }

  .article-aside {
    &.article-aside-left {
      padding-left: 0;
    }
  }

  .article-aside {
    &.article-aside-right {
      padding-right: 0;
    }
  }

  .article-has-aside-right {
    .article-body-content-column-right {
      padding-right: 30px;
    }
  }
}

.field--name-field-event-categories {
  .field__item {
    color: #777;
    font-size: 16px;    
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.field--name-field-commerce-products {
  .field__item {
    article {
      border: 1px solid $gray;
      background-color: $lightest-gray;
      margin: 60px 0;
      padding: 15px 30px;
    }
  }
}