$font-size-base:          16px;
$font-size-large:         ceil($font-size-base * 1.25); // ~18px
$font-size-small:         ceil($font-size-base * 0.85); // ~12px

$font-size-h1:            floor($font-size-base * 2.6); // ~36px
$font-size-h2:            floor($font-size-base * 2.15); // ~30px
$font-size-h3:            ceil($font-size-base * 1.7); // ~24px
$font-size-h4:            ceil($font-size-base * 1.25); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil($font-size-base * 0.85); // ~12px

$maize-primary:           #FFCB05;
$blue-primary:            #00274C;
$blue-secondary:          #0D57AA;
$red:                     #9A3324;
$lightest-gray:           #F6F6F6;
$lighter-gray:            #E9E9E9;
$light-gray:              #EEEEEE;
$gray:                    #CCCCCC;
$dark-gray:               #999999;
$darker-gray:             #555555;
$darkest-gray:            #333333;
$black:                   #26292b;
$white:                   #FFFFFF;

$font-family-sans-serif:  'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:  'Playfair Display', 'Georgia', serif;

$max-width-wide: '1919px';   // @media (min-width: $min-width-desktop)
$min-width-wide: '1920px';   // @media (max-width: $max-width-desktop)
$max-width-desktop: '1199px';    // @media (min-width: $max-width-tablet)
$min-width-desktop: '1200px';     // @media (min-width: $min-width-tablet)
$max-width-tablet: '1199px';    // @media (min-width: $max-width-tablet)
$min-width-tablet: '768px';     // @media (min-width: $min-width-tablet)
$max-width-mobile: '767px';     // @media (max-width: $min-width-mobile)
$min-width-mobile: '0px';       // @media (min-width: $min-width-mobile)

$min-width-wide-plus-one: '1921px';   // @media (min-width: $min-width-wide-plus-one) This used for left/right watermark fades.
$min-width-wide-plus-120: '2040px';   // @media (min-width: $min-width-wide-plus-120) 1920 + 60 + 60. (accounts for left/right margins)

.wrapped-field,
.wrapped-fields,
.boxed-field,
.boxed-fields {
  padding: 30px;
}

.wrapped-fields,
.boxed-fields {
  border-bottom: none !important;
  margin-bottom: 60px !important;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapped-fields {
  & > .field {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.wrapped-fields-light {
  & > .field {
    border-bottom-color: $gray;
    border-bottom-style: dotted;
  }
}

.boxed-field,
.boxed-fields {
  border-radius: 10px;
  margin-bottom: 30px;
}

.boxed-fields {
  & > .field {
    border-bottom: 1px solid;
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.boxed-field-light,
.boxed-fields-light {
  background: $light-gray;
}

.boxed-field-dark,
.boxed-fields-dark {
  background: $blue-secondary;
  color: $white;
}

.boxed-fields-light {
  & > .field {
    border-color: $gray;
  }
}

.boxed-fields-dark {
  & > .field {
    border-color: $blue-primary;
    color: $white;
  }
}
