@import "./dxpr_theme_subtheme.variables.scss";

form {
  label {
    font-family: $font-family-sans-serif;
  }
}

.form-item {
  .description,
  .password-confirm-message {
    color: #999;
  }
}

.prefooter-form-newsletter {
  form {
    display: flex;  
  }
  
  input, button {
    display: block;
  }

  input {
    background: #fff !important;
    border-radius: 6px !important;
    border: none !important;
    color: $black !important;
    height: 38px !important;
    width: 180px;
  }
}

select.form-control,
select.form-select {
  color: #666; // Same color as placeholders until a valid option is selected.
               // See forms.js in the theme.
}

.bef-exposed-form {
  fieldset {
    margin-top: 0;
    margin-right: 0 !important;

    .fieldset-wrapper {
      & > .form-item {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  .form-item-published-min,
  .form-item-published-max {
    label {
      display: none;
    }
  }

  .form--inline {
    & > .form-item {
      float: none;
      margin-right: 0;
    }
  }
}

.form-item-date-min,
.form-item-date-max {
  width: 50%;
  float: left !important;
  margin-top: 0;
  margin-bottom: 0;
}

.form-item-date-min {
  padding-right: 7.5px;
}

.form-item-date-max {
  padding-left: 7.5px;
}

.path-login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px !important;
  max-width: 960px !important;

  .col-left {
    padding-right: 45px;
  }

  .col-right {
    padding-left: 45px;

    h1, h2, h3, h4, h5 {
      color: $white !important;
    }
  }
}

.login-form {
  margin-bottom: 0;
  padding: 30px !important;

  .description {
    display: none;
  }
}

.webform-submission-cancel-membership-form {
  overflow: hidden;
  
  .form-actions {
    float: right;
    margin: 0;

    .form-submit {
      margin: 0;
    }
  }
}

.commerce-order-item-add-to-cart-form {
  .field--name-purchased-entity {
    label {
      display: none;
    }
  }
}

.profile-form,
.contact-message-personal-form {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  max-width: 960px;
  padding: 5%;
}

.profile-form {
  .field--name-address {
    details {
      border: inherit;
      background-color: inherit;
      margin: 0;

      & > .details-wrapper {
        padding: 0;
      }
    }
  }
}

#edit-address-0,
#edit-address-0-address {
  // It's hard to form_alter commerce profile
  // forms but easy via flexbox.
  display: flex;
  flex-direction: column;

  // Country should be lower, right above
  // the street address.
  #edit-address-0-address-country-code {
    order: 3;
  }

  // The rest as they were, but explicity
  // set here anyway.
  #edit-address-0-address-container0 {
    order: 1;
  }

  .form-item-address-0-address-organization {
    order: 2;
  }

  .form-item-address-0-address-address-line1 {
    order: 4;
  }

  .form-item-address-0-address-address-line2 {
    order: 5;
  }

  #edit-address-0-address-container4 {
    order: 6;
  }
}

.webform-multiple-table {
  margin-bottom: 15px;

  .table > thead {
    display: none;
  }

  .table > :not(caption) > * > * {
    padding: 15px 0;
    background-color: transparent;
  }
}

.webform-multiple-add {
  // Make it small, like .btn-sm
  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 4px;
  }
}

.profile-form {
  fieldset.form-item {
    margin-bottom: -1em;
  }

  .field--widget-image-image {
    max-width: 250px;

    label {
      display: none;
    }

    .form-type-managed-file {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px; 
    }

    input[type="file"] {
      border: none;
      padding: 0;
      margin: 15px 0 0;
    }

    .description {
      display: none;
    }
  }
}

// First/middle/last name fields.
.profile-form {
  #edit-group-name {
    .fieldset-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }  
}

.user-form,
.user-register-form {
  .confirm-parent,
  .password-parent {
    margin: inherit;
  }

  .password-confirm-message {
    font-size: 0.85em;
  }
}

.navbar {
  .search-form {
    .toggle-nav-search,
    .toggle-nav-search:hover {
      background-image: url('/themes/custom/mbgna_dxpr/images/search-icon.svg') !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      height: 25px;
      text-indent: -10000px;
      width: 16px;
    } 

    &.open {
      .toggle-nav-search {
        margin-top: 31px;
        border-bottom: 2px solid;
      }
    }
  }


  .search-block-form {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    display: none; // This is displayed when "Search" is clicked in the main menu.
    padding: 25px;
    position: absolute !important;
    right: 5% !important;
    top: 90px !important;
    min-width: 25vw;
    max-width: 500px;

    .btn.btn-link {
      padding-right: 0 !important;
    }

    .btn.btn-link::after {
      display: none;
    }
  }
}
