@import "./dxpr_theme_subtheme.variables.scss";

.field > img {
  width: 100%;
  height: auto;
}

.path-node,
.path-plant {
  &.is-not-dxpr-layout {
    .main-container {
      & > .row > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 1920px;
      }
    }

    article.full {
      .row > * {
        padding-left: calc(var(--bs-gutter-x) * 1.25);
        padding-right: calc(var(--bs-gutter-x) * 1.25);
      }

      .row > .row {
        padding-left: 0;
        padding-right: 0;
      }

      .row > .article-body-content-column {
        &.article-body-content-column-left {
          padding-left: 0;
        }
      }

      .row > .article-aside {
        &.article-aside-right {
          padding-right: 0;
        }
      }

      h3,
      .main-content-title {
        font-family: $font-family-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.15em;
        margin-bottom: 1em;
      }

      h4,
      .main-content-subtitle {
        font-size: 21px;
        margin-top: -0.35em;
      }

      .field {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .article-body-content-column,
    .article-aside {
      padding: 0 30px;
    }

    .article-body-content-column {
      &.article-body-content-column-left {
        padding-left: 0;
      }

      &.article-body-content-column-right {
        padding-right: 0;
      }
    }

    .article-aside {
      &.article-aside-left {
        padding-left: 0;
      }
    }

    .article-aside {
      &.article-aside-right {
        padding-right: 0;
      }
    }

    .article-has-aside-right {
      .article-body-content-column-right {
        padding-right: 30px;
      }
    }
  }
}

.field--name-field-event-categories {
  .field__item {
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.field--name-field-commerce-products {
  .field__item {
    article {
      border: 1px solid $gray;
      background-color: $lightest-gray;
      margin: 60px 0;
      padding: 15px 30px;
    }
  }
}

article.listing {
  & > .content {
    & > .col-secondary {
      padding-right: 60px;
    }
  }
}