<ul {{ attributes }} >
  {% for li in lis %}
    {{ li }}
  {% endfor %}
  <li class="tbm-item level-1 search-form">
    <div class="tbm-link-container">
      <span class="tbm-link level-1 no-link tbm-toggle toggle-nav-search">Search</span>
      {{ drupal_block('search_form_block') }}
  </li>
</ul>
